<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE 564 Lab 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>

        .graph-container {
            height: 43vh;
        }

        .border {
            border: 1px solid #ccc;
        }

        body {
            overflow: hidden; /* Disable scrolling */
        }

        .scatterCol {
            height: 90vh;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <!-- Heading -->
        <div class="row">
            <div class="col">
                <h1 class="text-center">Pima Diabetes Visualization</h1>
            </div>
        </div>

        <!-- Main Content -->
        <div class="row">
            <!-- Right Column -->
            <div class="col-md-6">
                <!-- First Row (Scree Plot and Elbow Plot) -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="border graph-container screeCol">
                                    <div id="screePlot"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="border graph-container elbowCol">
                                    <div id="elbowPlot"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Biplot -->
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="border graph-container">
                            <div id="biPlot">Biplot</div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Left Column -->
            <div class="col-md-6">
                <!-- Scatterplot Matrix -->
                <div class="row">
                    <div class="col-md-10">
                        <div class="border scatterCol">
                            <div id="scatterPlot"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered attributeTable graph-container">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Top Attributes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center align-middle"></td>
                                        </tr>
                                        <tr>
                                            <td class=" text-center align-middle"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center align-middle"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center align-middle"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">di</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center align-middle diValue">4</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">K</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center align-middle kValue">3</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/screePlot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatterPlot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/elbowPlot.js') }}"></script>
</body>
</html>
