<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE 564 Lab 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col heading-col dashboardElement">
                <h1 class="text-center align-self-center">Pima Diabetes Visualization</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-6 dashboardElement">
                                <div class="border graph-container1 screeCol">
                                    <div id="screePlot"></div>
                                </div>
                            </div>
                            <div class="col-md-6 dashboardElement">
                                <div class="border graph-container1 elbowCol">
                                    <div id="elbowPlot"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 dashboardElement">
                        <div class="border graph-container2 biPlotCol">
                            <div id="biPlot"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-10 dashboardElement">
                        <div class="border scatterCol">
                            <div id="scatterPlot"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12 dashboardElement">
                                <table class="table table-bordered attributeTable valTable">
                                    <thead>
                                        <tr class="tableHead">
                                            <th class="text-center">Top Attributes</th>
                                        </tr>
                                    </thead>
                                    <tbody id="attributeTableBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 dashboardElement">
                                <table class="table table-bordered valTable">
                                    <thead>
                                        <tr class="tableRow2">
                                            <th class="text-center">di</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center align-self-center diValue">4</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 dashboardElement">
                                <table class="table table-bordered valTable">
                                    <thead>
                                        <tr class="tableRow2">
                                            <th class="text-center">K</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center align-middle kValue">3</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/screePlot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/biPlot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatterPlot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/elbowPlot.js') }}"></script>
</body>
</html>
